<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBeh">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="WcfService.ServiceChat" behaviorConfiguration="mexBeh">
				<endpoint address="" binding="netTcpBinding" contract="WcfService.IServiceChat"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<!--адрес для обмена метаданными
						Порты должны быть свободны (8734, 8735 - порты); экзешник этого проекта запускаем от имени администратора, иначе, скорее всего, не будет работать-->
						<add baseAddress="http://localhost:8734" />
						<!--сам сервис будет работать по адресу-->
						<add baseAddress="net.tcp://localhost:8735" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>

	<!--диагностика ошибок-->
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel"
     switchValue="All"
     propagateActivity="true">
				<listeners>
					<add name="traceListener"
      type="System.Diagnostics.XmlWriterTraceListener"
      initializeData="D:\ООП\Traces.svclog"  />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>

</configuration>